<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label for="">Payee Name</label>
      <input
        class="form-control"
        (input)="onNameChange($event)"
        type="text"
        name=""
        id=""
      />
    </div>

    <div class="col">
      <label for=""><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Payment Date</label>
      <input
        class="form-control"
        (input)="onDateChange($event)"
        type="date"
        name=""
        id=""
      />
    </div>

    <div class="col">
      <label for=""><b>Payment Date</b></label>
      <div>
        {{ date | date: "longDate" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Payment Amount</label>
      <input
        class="form-control"
        (input)="onAmountChange($event)"
        name=""
        id=""
      />
    </div>

    <div class="col">
      <label for=""><b>Payment Amount</b></label>
      <div>
        {{ amount | currency }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Height</label>
      <input
        class="form-control"
        (input)="onHeightChange($event)"
        name=""
        id=""
      />
    </div>

    <div class="col">
      <label for=""><b>Height</b></label>
      <div>
        {{ height | number: "1.1-2" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Miles</label>
      <input
        class="form-control"
        (input)="onMilesChange($event)"
        name=""
        id=""
      />
    </div>

    <div class="col">
      <label for=""><b>kilometers</b></label>
      <div>
        {{ miles | convert: "km" }}
      </div>
    </div>
  </div>
</div>
